.filter {
    
}

.filter-button {
    padding: 5px 10px;
    margin: 5px;
    background-color: rgb(204, 204, 204);
    font-size: 0.7em;
    display: block;
    width: 100%;
}

.filter-not-active {
    padding: 5px 10px;
    margin: 5px;
    opacity: 0.5;
}

.filter-not-active:hover {
    color: rgb(146, 1, 1);
}
