* {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    padding: 20px 0;
    text-transform: uppercase;
    text-shadow: 0 3px 3px #cccccc;
}

.to-do {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #cccccc;
    padding: 0 50px 50px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;
}

.delete-todo {
    padding: 3px 7px;
    background-color: #cccccc;
    margin-left: 5px;
    cursor: pointer;
}