* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.to-do-app {
    width: 50%;
    height: 600px;
    margin: 0 auto;
    padding: 0 50px 50px 50px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;
}

h2 {
    padding: 20px 0;
    text-transform: uppercase;
    text-shadow: 0 3px 3px #cccccc;
    text-align: center;
    font-size: 1.5em;
}

h3 {
    padding: 0;
    text-align: center;
    font-size: 1.2em;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 2px;
    border: 0px;
    background-color: rgba(256, 0, 0, 0.3);
    user-select: none;
    cursor: pointer;
}

button:focus{
    outline: 0;
}

.left {
    float: left;
    height: 100%;
    width: 70%;
}

.right {
    float: left;
    width: 30%;
    height: 100%;
}

.delete-todo {
    padding: 3px 7px;
    margin-left: 5px;
    background-color: #cccccc;
    cursor: pointer;
}

.edit-todo {
    display: inline-block;
}

.todo {
    margin: 10px 0;
}

.todo-hint {
    font-style: italic;
    color: #cccccc;
    font-size: .9em;
}

.restore-deleted {
    display: block;
    margin-top: 20px;
    background-color: rgba(56, 180, 0, 0.3);
}
